.free_quote_modal_wrapper {
    .modal_title {
        h2 {
            text-align: center;
            font-size: 35px;
            color: var(--theme_text_clr);
            font-family: $bold_font;
        }
    }
}