.our_customers_three {
    padding-block: 60px;
    .title_wrapper {
        @include flexCenterAlignment;
        h2 {
            font-size: 38px;
            color: var(--theme_text_clr);
            font-family: $bold_font;
            span {
                color: var(--main_theme_clr);
                font-family: $bold_font;
            }
        }
    }

    .customers_carousel_wrapper {
        padding-block: 40px;
        background-color: var(--soft_main_theme_clr);

        .customer_logo_wrapper {
            img {
                width: 150px;
                height: 120px;
                object-fit: contain;
                filter: grayscale(70%);
                opacity: 0.6;
                @include transitioning(0.4s);
            }

            &:hover {
                img {
                    filter: grayscale(0%);
                    opacity: 1;
                }
            }
        }
    }

    // START:: MEDIA QUERIES
    @media ( max-width: 767px ) {
        padding-top: 0;
        .title_wrapper {
            margin-bottom: 0;
            h2 {
                left: 130px;
            }
            span {
                left: 45px;
            }
        }
    }
    // END:: MEDIA QUERIES
}