.testimonials_one {
    position: relative;
    padding-top: 60px;

    &::before {
        content: "";
        position: absolute;
        bottom: 50px;
        right: -50px;
        display: block;
        width: 200px;
        height: 200px;
        background-color: var(--mid_main_theme_clr);
        opacity: 0.4;
        @include borderRadius(15px);
        transform: rotate(-40deg);
    }

    .title_wrapper {
        @include headerStyleOne;
    }

    .carousel_wrapper {
        padding-block: 40px;
        overflow-x: hidden;
        .slick-slider {
            .slick-list {
                .slick-track {
                    @include flexCenterAlignment;
                    column-gap: 30px;
                    .slick-slide {
                        padding: 20px;
                        margin-block: 15px;
                        opacity: 0.4;

                        &.slick-current {
                            opacity: 1;

                            .client_image_wrapper {
                                transform: scale(1.1);
                            }
                        }

                        .client_image_wrapper {
                            display: flex !important;
                            justify-content: center;
                            align-items: center;
                            .image_wrapper {
                                width: 130px;
                                height: 130px;
                                position: relative;
                                transform: rotate(-15deg);

                                &::before {
                                    content: "";
                                    position: absolute;
                                    top: -15px;
                                    left: 15px;
                                    display: block;
                                    width: 150px;
                                    height: 150px;
                                    background-color: var(--mid_main_theme_clr);
                                    @include borderRadius(15px);
                                    z-index: 1;
                                }
                                img {
                                    position: absolute;
                                    object-fit: cover;
                                    @include borderRadius(15px);
                                    z-index: 2;
                                }
                                .icon {
                                    position: absolute;
                                    top: 0px;
                                    left: -10px;
                                    @include flexCenterAlignment;
                                    width: 35px;
                                    height: 35px;
                                    background-image: linear-gradient(45deg, var(--secondary_theme_clr), var(--main_theme_clr), var(--main_theme_clr));
                                    @include borderRadius(5px);
                                    z-index: 3;
                                    svg, 
                                    i{
                                        color: var(--white_clr);
                                    }
                                }
                            }
                        }

                        .testimonial_body_card {
                            display: flex !important;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            .name {
                                font-size: 30px;
                                color: var(--theme_text_clr);
                                font-family: $bold_font;
                            }

                            .role {
                                font-size: 26px;
                                color: var(--main_theme_clr);
                                font-family: $bold_font;
                            }

                            .body_text_wrapper {
                                width: 90%;
                                @include textWraper;
                                text-align: center;
                                line-height: 1.3;
                                font-size: 25   px;
                            }
                        }
                    }
                }
            }

            .slick-dots {
                position: relative;
                bottom: 0;

                li {
                    width: 40px;
                    button {
                        width: 40px;
                        height: 8px;
                        padding-inline: 8px;

                        &::before {
                            content: '';
                            display: block;
                            width: 40px;
                            height: 8px;
                            background-color: var(--main_theme_clr);
                            @include borderRadius(30px);
                        }
                    }

                    &.slick-active {
                        width: 50px;
                        button {
                            width: 50px;

                            &::before {
                                width: 50px;
                            }
                        }
                    }
                }
            }
        }
    }

    // START:: MEDIA QUERIES
    @media ( max-width: 767px ) {
        .title_wrapper {
            margin-bottom: 0;
            h2 {
                left: 15px;
                font-size: 35px;
            }
            span {
                left: 0;
            }
        }

        .carousel_wrapper {
            padding-block: 40px;
            overflow-x: hidden;
            .slick-slider {
                .slick-list {
                    padding: 0 25px !important;
                    .slick-track {
                        column-gap: 10px;
                        .slick-slide {
                            padding: 10px;
                            &.slick-current {
                                width: 100vw !important;
                            }
                            .testimonial_body_card {
                                .body_text_wrapper {
                                    width: 100%;
                                    font-size: 22px;
                                    text-align: justify;
                                }
                            }
                        }
                    }
                }
    
                .slick-dots {
                    position: relative;
                    bottom: 0;
    
                    li {
                        width: 40px;
                        button {
                            width: 40px;
                            height: 8px;
                            padding-inline: 8px;
    
                            &::before {
                                content: '';
                                display: block;
                                width: 40px;
                                height: 8px;
                                background-color: var(--main_theme_clr);
                                @include borderRadius(30px);
                            }
                        }
    
                        &.slick-active {
                            width: 50px;
                            button {
                                width: 50px;
    
                                &::before {
                                    width: 50px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // END:: MEDIA QUERIES
}