// // START:: FONT
@font-face {
    font-family: $light_font;
    src: url("../fonts/Tajawal-Light.ttf");
}

@font-face {
    font-family: $regular_font;
    src: url("../fonts/Tajawal-Regular.ttf");
}

@font-face {
    font-family: $medium_font;
    src: url("../fonts/Tajawal-Medium.ttf");
}

@font-face {
    font-family: $bold_font;
    src: url("../fonts/Tajawal-Bold.ttf");
}
// // END::  FONT